h2 Sign Up
form(action='/sign_up', method='post',enctype='multipart/form-data')
    | first_name :
    input(type='text', name='first_name')
    br
    | last_name :
    input(type='text', name='last_name')
    br
    | email :
    input(type='text', name='email')
    br
    | password :
    input(type='text', name='password')
    br
    | user_image:
    input(type='file', name='user_image')
    br
    input(type='submit',value='submit')
    br
    hr
    hr
h2 Login
form(action='/login_user', method='post')
    | email :
    input(type='text', name='email')
    br
    | password :
    input(type='text', name='password')
    br
    input(type='submit',value='submit')
    br
    hr
    hr
h2 Forgot Password
form(action='/forgot_password', method='post')
    | email :
    input(type='text', name='email')
    input(type='submit', value='submit')
    br
    hr
    hr
h2 Reset Password
form(action='/reset_password', method='post')
    |  Link :
    input(type='text', name='link')
    | New Password:
    input(type='text', name='new_password')
    input(type='submit', value='submit')
    br
    hr
    hr
h2 Logout
form(action='/logout', method='post')
    | access_token :
    input(type='text',name='access_token')
    input(type='submit',value='Logout')
    br